<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-pink.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
</head>
<body>

	<div class="rgb-box"></div>
	<div class="rgb-input">
		<label for="red" class="red">Red</label>
		<input class="mdl-slider mdl-js-slider" type="range" min="0" max="255" value="255" id="red"/>

		<label for="green" class="green">Green</label>
	  <input class="mdl-slider mdl-js-slider" type="range" min="0" max="255" value="255" id="green"/>

		<label for="blue" class="blue">Blue</label>
	  <input class="mdl-slider mdl-js-slider" type="range" min="0" max="255" value="255" id="blue"/>
	</div>

	<script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
	<script type="text/javascript" src="/javascripts/jquery.min.js"></script>
	<script src="https://cdn.mlkcca.com/v0.6.0/milkcocoa.js"></script>
	<script type="text/javascript" src="/javascripts/app.js"></script>
</body>
</html>