<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>QR</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
</head>
<body>

	<p>LED and Milkcocoa!</p>
  <br>
	<div class="box"></div>

	<script type="text/javascript" src="/javascripts/jquery.min.js"></script>
	<script src="https://cdn.mlkcca.com/v0.6.0/milkcocoa.js"></script>
	<script type="text/javascript" src="/javascripts/qrcode.js"></script>
	<script type="text/javascript" src="/javascripts/index.js"></script>
</body>
</html>