<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-pink.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
</head>
<body>

	<label for="red">Red</label>
	<input class="mdl-slider mdl-js-slider" type="range" min="0" max="255" value="255" tabindex="0" id="red"/>

	<label for="green">Green</label>
  <input class="mdl-slider mdl-js-slider" type="range" min="0" max="255" value="255" tabindex="0" id="green"/>

	<label for="blue">Blue</label>
  <input class="mdl-slider mdl-js-slider" type="range" min="0" max="255" value="255" tabindex="0" id="blue"/>

	<script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
	<script type="text/javascript" src="/javascripts/jquery.min.js"></script>
	<script type="text/javascript" src="/javascripts/socketio.js"></script>
	<script type="text/javascript" src="/javascripts/index.js"></script>
</body>
</html>