@import url(https://fonts.googleapis.com/css?family=VT323);
body,html{
	width: 100%;
	height: 100%;
}
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.box{
	padding: 0 0 1%;
	text-align: center;
	display: none;
}

p{
	padding: 5% 0 0;
	color: #1D6BFF;
	text-align: center;
	font-weight: bold;
	font-size: 3rem;
	font-family: 'VT323', sans-serif;
	letter-spacing: 3px;
}