<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ADMIN</title>
    <style>
    body, html {
      width: 100%;
      height: 100%;
      background-color: rgb(102,199,57);
    }
    *,
    *::after,
    *::before {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
    }
    .clearfix::after {
      content: "";
      display: block;
      clear: both;
      height: 0;
    }
    .hidden {
      display: none;
    }
    div{
      width: 100%;
      height: 100%;
      position: relative;
    }
    button{
      display: block;
      width: 30rem;
      height: 10rem;
      line-height: 10rem;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      text-align: center;
      font-size: 3rem;
      border: 0;
      outline: none;
      background-color: rgb(233,76,150);
      color: white;
      letter-spacing: 5px;
      border-bottom: 10px solid pink;
      border-radius: 10px;
    }
    button:active{
      position: absolute;
      top: 10px;
      border: 0;
    }
    </style>
  </head>
  <body>
    <div>
      <button type="button" class="btn">RELOAD</button>
    </div>
    <script src="/javascripts/lib/socketio.js"></script>
    <script src="/javascripts/lib/jquery.min.js"></script>
    <script src="/javascripts/src/settings.js" charset="utf-8"></script>
    <script src="/javascripts/src/admin.js" charset="utf-8"></script>
  </body>
</html>
