<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ras socket</title>
    <link rel="stylesheet" href="/stylesheets/index.css">
  </head>
  <body>
    <p>
      Welcome to Web controller
      <br>
      with RaspberryPI!
    </p>
    <div class="box"></div>
    <div class="curtainR"></div>
    <div class="curtainL"></div>
    <script src="/javascripts/lib/jquery.min.js"></script>
    <script src="/javascripts/lib/qrcode.js" charset="utf-8"></script>
    <script src="/javascripts/lib/socketio.js"></script>
    <script src="/javascripts/src/settings.js" charset="utf-8"></script>
    <script src="/javascripts/src/index.js" charset="utf-8"></script>
  </body>
</html>
