<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>404 Error!</title>
  <style>
    body,html{
      width: 100%;
      height: 100%;
      background-color: hotpink;
    }
    *,*::before,*::after{
      padding: 0;
      margin: 0;
      box-sizing: border-box;
    }
    h1{
      text-align: center;
      color: rgb(30, 209, 21);
      margin: 3% 0;
    }
    p{
      text-align: center;
      margin: 5% 0;
      line-height: 3;
    }
  </style>
</head>
<body>
  <h1>
    このページは存在しません。
  </h1>
  <p>
    URLがあっているかもう一度、ご確認ください！<br/>
    引き続き、HAL Event Week 2016 をお楽しみください。
  </p>
</body>
</html>
